      <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet"> 
<link rel="stylesheet" type="text/css" href="style.css">

<div class="centered-content">
        <div>
            <h2>Create a page</h2>
        </div>
        <form id='content_sub' action='/sections' method='POST'>
            <input type='text' name='title'placeholder='Title'>
            <textarea placeholder="Please enter the content here!" rows="20" name="content" id="content" cols="40"  autocomplete="off" role="textbox"></textarea>
            <input type='url' name='image'placeholder='IMG URL'>
            
            <button input='submit'class="btn draw-border">Done</button>
        </form>
</div>
        </div>
    