      <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet"> 
<link rel="stylesheet" type="text/css" href="style.css">

<div class="centered-content">
        <div>
            <h2>Enter info</h2>
        </div>
        <div>
        <div class="flextest">
            <form id='content_sub' action='/sections' method='POST'>
            <input type='text' name='content'placeholder='Title'>
            <textarea placeholder="Please enter the content here!" rows="20" name="content" id="content" cols="40" class="ui-autocomplete-input" autocomplete="on" role="textbox"></textarea>
            <button input='submit'class="btn draw-border">Done</button>
            </form>
</div>
        </div>
    </div>
    