<header>Tommys portfolio</header>
    <%sections.each do |section|%>
        <section> 
            <h1><%=section.title%></h1>
            <p><%=section.content%></p>


        </section>
<%end%>
<%=erb :blog%>