.container-custom {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.centered-content {
    display: flex;
    flex-direction: column;
    background-color: #161A20;
    padding: 2rem;
    border-radius: 0.75rem;
}

form input:not(:first-child) {
    margin-top: 0.5rem;
}

label {
    display: block;
    color: #c5cae9;
}

input[type=text] {
    display: block;
    color: #607d8b;
    border: none;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 0.5rem;
}

h2 {
    color: #c5cae9;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.draw-border {
    box-shadow: inset 0 0 0 4px #58afd1;
    color: #58afd1;
    transition: color 0.25s 0.0833333333s;
    position: relative;
  }
  .draw-border::before, .draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
  }
  .draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
  }
  .draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px;
  }
  .draw-border:hover {
    color: #af04ff;
  }
  .draw-border:hover::before, .draw-border:hover::after {
    border-color: #af04ff;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
  }
  .draw-border:hover::before {
    transition-delay: 0s, 0s, 0.25s;
  }
  .draw-border:hover::after {
    transition-delay: 0s, 0.25s, 0s;
  }
  
  .btn {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font: 700 1.2rem 'Roboto Slab', sans-serif;
    padding: 1em 2em;
    letter-spacing: 0.05rem;
    margin: 1.5rem;
  }
  .btn:focus {
    outline: 2px dotted #55d7dc;
  }
  
  textarea {
    margin-top: 10px;
    margin-left: 50px;
    width: 500px;
    height: 100px;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
    border-image: none;
    border-radius: 6px 6px 6px 6px;
    border-style: none solid solid none;
    border-width: medium 1px 1px medium;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
    color: #555555;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1em;
    line-height: 1.4em;
    padding: 5px 8px;
    transition: background-color 0.2s ease 0s;
    resize: none;
  }
  
  
  textarea:focus {
      background: none repeat scroll 0 0 #FFFFFF;
      outline-width: 0;
  }

  .flextest{
      flex: 1;
      flex-direction: row;
  }